@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,800;1,6..12,200;1,6..12,700&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 550;
    font-size: 20px;
}

.alert-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    width: 567px;
    height: 20px;
    padding: 15px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background: transparent; 
    border: none;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-primary {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.container {
    width: 700px;
    background-color: #E4E5E5;
    border-radius: 18px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    display: flex;
    margin: 25px;
    justify-content: center;
    align-items: center; 
}

.logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container hr {
    position: relative;
    width: 100%;
    border: none;
    height: 0.5px;
    background-color: #a3a3a3;
    margin: 0;
}

.form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.form a {
    text-decoration: none;
    color: #0064AD;
}


.form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form .password {
    margin-top: 20px;
    position: relative;
}

.form .password i.showHidePw {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form .password i.showHidePw {
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    padding: 10px;
}

.form .password i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 25px;
    transition: all 0.2s ease;
}

.form .nip input, 
.form .password input {
    width: 567px;
    height: 21px;
    border: none;
    padding: 15px;
}

.form .role select {
    width: 597px;
    height: 51px;
    border: none;
    padding: 15px;
}

.form .nip input:focus,
.form .password input:focus,
.form .role select:focus {
    outline: none;
}


.form form button {
    width: 598px;
    height: 47px;
    background: #B42021;
    color: #fff;
    border: none;
}

.button-input {
    width: 598px;
    height: 47px;
    background: #B42021;
    color: #fff;
    border: none;
}

.form .nip input,
.form .password input, button, select {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form .role label {
    display: block;
    margin-bottom: 5px;
}



.form .nip, .form .password {
    display: flex;
    flex-direction: column;
}

.form .nip {
    margin-bottom: 20px;
}

.form .role {
    margin-bottom: 20px;
}

.form .password {
    margin-top: 20px;
}

.akun {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}