@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,800;1,6..12,200;1,6..12,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
    background: red;
}

a {
    text-decoration: none;
}

.input {
    width: 100%;
    height: 20px;
    border: none;
    padding: 15px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 339px;
    background: #fff;
}

.logo-name {
    width: 232px;
    height: 55px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 21px 0px 0px 28px;
}

.sidebar .logo-details a > i {
    font-size: 30px;
    color: #000;
    height: 50px;
    max-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details img {
    width: 232px;
    height: 55px;
    padding: 27px;
}

.sidebar .nav-links {
    background: #fff;
    height: 100%;
    padding-top: 30px;
    overflow: auto;
}

.sidebar .nav-links .menu {
    display: flex;
    position: relative;
    justify-content: center;
}

.sidebar .nav-links li {
    display: flex;
    margin: 15px 15px 15px 15px;
}

.sidebar .nav-links .icon {
    width: 55px;
    height: 55px;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.item-container {
    width: 100%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    font-size: 30px;
    color: #000;
    height: 50px;
    max-width: 78px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
}

.sidebar .nav-links li a .link_name {
    font-size: 20px;
    font-weight: 550;
    color: #000;
}

.sidebar .nav-links li .sub-menu {
    margin: -1px 0px 0px 39px;
    background-color: #F0F2F3;
    border-radius: 8px;
    display: none;
}

.sidebar .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .nav-links li .sub-menu.showMenu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #000;
    font-size: 18px;
    font-weight: 550;
    padding: 7px 35px 13px 16px;
}

.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}


/* class main */
.home-section {
    position: relative;
    left: 339px;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 339px);
    background: #F0F2F3;
    transition: all 0.5s ease;
    height: 100%;
    overflow: auto;
}

.home-section.close {
    left: 78px;
    width: calc(100% - 78px);
    overflow: hidden;
}

.home-section .hero {
    display: flex;
    background: #B42021;
    height: 300px;
    padding: 10px;
    flex-direction: row;
}

.home-section .hero .navbar {
    width: 100%;
    display: block;
}

.home-section .hero .navbar img {
    width: 30px;
    height: 30px;
}

.home-section .hero .navbar .navbar-container {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.home-section .hero .search input {
    position: relative;
    width: 602.542px;
    height: 33px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}

.hero .navbar .search input:focus{
    border: none;
}

.search {
    display: flex;
    align-items: center;
}

.profile a {
    display: flex;
    align-items: center;
}

.profile p {
    color: #fff;
    font-size: 20px;
    font-weight: 550;
    padding-right: 10px;
}

.home-section .hero .navbar .search i {
    display: flex;
    align-items: center; 
    
}

.alert.alert-success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.alert.alert-primary {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.alert.alert-danger {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.home-section .hero .breadcrumb {
    display: flex;
    margin: 25px;
    justify-content: space-between;
    align-items: center;
    color:#FFF;
}


.breadcrumb-items {
    display: flex;
    gap: 10px; /* Add spacing between breadcrumb items */
}

.breadcrumb-items a {
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}

.breadcrumb-items a:hover {
    text-decoration: underline;
}

.home-section .hero .text h2 {
    font-size: 35px;
}

.home-section .hero .text p {
    font-size: 16px;
    margin-top: -6px;
    margin-left: 0px;
}

.content {
    display: flex;
    margin-top: -125px;
    padding: 10px;
    flex-direction: row;
}

.content .main {
    display: flex;
    margin: 25px;
    background: #FFF;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    transition: all 0.5s ease;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow size */  
}

.close .content .main {
    width: 100%;
}

.content .main .text-main {
    margin: 100px;
}

.content .main .text-main .button {
    font-size: 19px;
    font-weight: 550;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    background: #B42021;
}

.content .main .text-main a:hover{
    background: #7c2020;
}

.content .img-main img,
.close .content .main img {
    margin: 50px;
    position: relative;
    transition: all 0.5s ease;
}

.home-section .card-container {
    background: #fff;
    margin: 25px;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow size */
}

.home-section .card-container a{
    background: #B42021;
    color: #FFF;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home-section .card-container .card-content{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}

.home-section .user {
    background: #fff;
    padding: 50px;
}

.close.home-section .user {
    width: 100%;
    transition: all 0.5s ease;
}

.home-section .user img {
    position: relative;
    width: 64px;
    height: 64px;
    transition: all 0.5s ease;
}

.close.home-section .user img {
    position: relative;
    left: 495px;
    top: -17px;
    width: 64px;
    height: 60px;
    transition: all 0.5s ease;
}

.link {
    position: relative;
    bottom: -28px;
    text-align: center;
    padding: 10px 0;
    background: #B42021;
    
}

.link a {
    color: #fff;
    margin-left: -292px;
    font-weight: 550;
    transition: all 0.5s ease;
}

.close.home-section .link a{
    margin-left: -417px;
    transition: all 0.5s ease;
}

.card {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.user .user-text {
    width: 171px;
    height: 43px;
    top: 44px;
    left: 29px;
    font-weight: 550;
}

.user i{
    font-size: 27px;
    float: right;
    right: 20px;
}

.card .user .judul {
    left: 12px;
    top: 14px;
}

.card .user .angka {
    left: 12px;
    bottom: 44px;
}

.user a {
    width: 100%;
    margin: 1px 0px 0px -10px;
    padding: 10px 0px 7px 20px;
    background: #B42021;
}

.user a {
    color: #fff;
    font-weight: 550;
    transition: all 0.5s ease;
}

/* 
.home-section .categori {
    position: relative;
    background: rgb(255, 255, 255);
    width: 439px;
    height: 194px;
    top: -161px;
    left: 852px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease 0s;
}

.close.home-section .categori {
    width: 574px;
    left: 978px;
    transition: all 0.5s ease;
}

.home-section .categori img {
    position: relative;
    left: 348px;
    right: 42px;
    top: -25px;
    width: 76px;
    height: 60px;
    transition: all 0.5s ease;
}

.close.home-section .categori img {
    left: 491px;
    position: relative;
    top: -25px;
    height: 60px;
    transition: all 0.5s ease;
}

.link {
    position: relative;
    bottom: -28px;
    text-align: center;
    padding: 10px 0;
    background: #B42021;
    
}

.link a {
    color: #fff;
    margin-left: -292px;
    font-weight: 550;
    transition: all 0.5s ease;
}

.close.home-section .link a{
    margin-left: -417px;
    transition: all 0.5s ease;
}


.categori .categori-text {
    position: relative;
    top: 44px;
    left: 29px;
    font-weight: 550;
}

.categori i{
    font-size: 27px;
    position: relative;
    float: right;
    right: 20px;
} */
